<div>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">W2Schools</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tutorials
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Tutorials</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          <li class="nav-item">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                References
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            &nbsp;
            &nbsp;
            &nbsp;
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Exercises
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          <li class="nav-item">
            <a class="nav-link " href="#">Video</a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <li class="nav-item">
            <mat-slide-toggle class="nav-link">Darkmode</mat-slide-toggle>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          <li class="nav-item">
            <a class="nav-link " href="#">Pro &nbsp;<span class="badge text-bg-secondary">NEW</span></a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          <li class="nav-item">
            <a class="nav-link " href="#">Get Certified</a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          <li class="nav-item">
            <a class="nav-link " href="#">Website</a>
          </li>
          &nbsp;
          &nbsp;
          &nbsp;
          <li class="nav-item">
            <a class="nav-link " href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet><router-outlet>
<footer >
  <div class="footer">
<button  class="btn" id="button1">COURSES</button>
<button  class="btn">QUIZZES</button>
<button  class="btn">EXERCISES</button>
<button  class="btn">PRO</button>
<button  class="btn">SPACES</button>
  </div>
  <div class="forum">
  FORUM | ABOUT
  </div>
  <div class="socialmedia">
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png"></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/508/508225.png"></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384088.png"></a>
  </div>
  <div class="detail">
    W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
Copyright 1999-2022 by Refsnes Data. All Rights Reserved.
  </div>
</footer>

